.idea-block1 {
    position: relative;
    z-index: 3;
    width: 50%;
    height: 90%;
    margin-left: 25%;
    margin-top: 1%;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.1);
}

.Block1 {
    display:flex;
    margin-right: 20%;
    margin-left: 20%;
    font-size: 20px;
    z-index: 2;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.1);
}

.idea-page-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;
}

.idea-description-title {
    margin: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

h2 {
    margin-top: 2%;
}

.Block2 {
    display:flex;
    margin-right: 20%;
    margin-left: 20%;
    font-size: 20px;
    z-index: 2;
    box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
    margin-bottom: 3%;
}




