.navbar__menu {
    position: absolute !important;
    z-index: 2;
    width: 100%;
    background-color: rgba(67, 67, 67, 0.5) !important;
}

.navbar-brand {
    margin-right: 0 !important;
}

.navbar-brand:hover {
    color: #FFF !important;
}

.logo
{
    margin-right: 20px;
}

.navbar-collapse
{
    display: flex!important;
    flex-basis: auto;
    justify-content: space-between;
    margin-left: 15%;
}

.nav-link
{
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 23px !important;
}