.ideas-logo-block {
    margin-bottom: 50px;
    padding-top: 69px;
}

.ideas-title {
    font-weight: 500;
    font-size: 41px;
    line-height: 48px;
    letter-spacing: 0.2em;
    margin-bottom: 0;
}
.search-input-group {
    width: 55%;
}
.search-input {
    border: none;
    background-color: #F2F4F8;
    border-radius: 12px;
    outline: none;
    padding-left: 58px; 
    padding-right: 10px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.search-input:focus {
    border: 2px solid #000;
}

.search-input-group::before {
    position: absolute;
    content: url('../../../resources/search_icon.svg');
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
    width: 25px;
    height: 25px;
}

.search-button {
    margin-left: 38px;
    color: #fff;
    background-color: #000;
    border-radius: 12px;
    padding: 15px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

.search-box{
    margin-bottom: 40px;
}

.idea-block {
    background: #FFFFFF;
    box-shadow: 3px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.idea-block-info {
    margin-left: 20px;
}

.idea-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}

.category {
    background-color: transparent;
    border: 1px solid #C5C5C5;
    border-radius: 13px;
    padding-left: 50px;
    padding-right: 50px;
}

.idea-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 30px;
}